.open {
    transition: max-height .5s ease-out;
    max-height: 1000px;
}

.closed {
    transition: max-height .5s ease-out;
    max-height: 0;
    visibility: hidden;
}

@keyframes slideUp {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}


.init {
    animation: slideUp 1s ease;
}