.heroImage {
  background-image: url("/images/hero.jpg");
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


@keyframes arrowAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(0);
  }
}

.chevron {
  animation: arrowAnimation 2s ease-out;
  animation-iteration-count: infinite;
  -webkit-transition: font-color 600ms ease;
  transition: font-color 600ms ease;
}


@keyframes fadeInRegular {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeInRegular .75s ease;
  animation-fill-mode: forwards;
}

.fadeInHeaders { 
  animation: fadeInRegular 1s ease;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOut 1s ease;
  animation-fill-mode: forwards;
}