.closed {
    max-height: 0;
    transition: max-height .5s ease-out;
    overflow: hidden;
}
.open {
    max-height: 100%;
    transition: max-height 1.5s ease-out;
    overflow: hidden;

}

@keyframes rotateOnOpen {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes rotateOnClose {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0);
    }
}

.rotate-open {
    animation: rotateOnOpen .75s ease;
    animation-fill-mode: forwards;
}

.rotate-close {
    animation: rotateOnClose .75s ease;
    animation-fill-mode: forwards;
}